<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
      
<configuration>
	
	<typeAliases>
		<typeAlias alias="siteRequest" type="com.cooperationHub.site.domain.SiteRequest" />
		<typeAlias alias="siteDomain" type="com.cooperationHub.site.domain.SiteDomain" />
	</typeAliases>
	
	<mappers>
		<mapper resource="mapper/SiteDomain.xml"/>
	</mappers>
</configuration>
  